// 项目提供的scss全局变量

// 左侧菜单的宽度
$base-menu-width: 280px;
// 左侧菜单的背景颜色
$base-menu-background: linear-gradient(
  to right,
  rgb(232, 236, 248),
  rgb(221, 214, 246)
);
$base-menu-min-width: 46px;
// 顶部导航的高度
$base-tabbar-height: 64px;
// 滚动条外观设置
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: $base-menu-background;
}
::-webkit-scrollbar-thumb {
  background: rgb(193, 208, 246);
  border-radius: 100px;
}
// 左侧菜单的logo高度设置
$base-menu-logo-height: 64px;
// 左侧菜单的文字大小
$base-menu-title-size: 29px;
